body{
    background-image: url(./资料/bj.jpg);
    background-size: cover;


}
a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
a:hover{
    color:rgb(224, 218, 218);
    text-decoration: none;

}
.row>div{
   height: 220px;
}
li{
    margin:10px;
}
.tell{margin: 10px;}

.a-side{
height: 60px;
position:fixed;
top:25%;
right:15%
}
aside {
    display: flex;
    flex-direction:column;
    height: 60px;
    overflow: hidden;
    transition: height 1.5s;
}
aside:hover{
    height: 240px;
}
aside:hover .box{
background-color: rgba(233, 232, 232, 0.644);  
}
i{
    font-size: 40px;
}
aside .box{
    margin: 5px;
    height: 50px;
    width: 50px;
    background-color: rgba(204, 204, 204, 0.603);
    border: rgb(8, 8, 8) 2px dashed;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px; 
    font-size: 15px;
}
.schimg{
    overflow: hidden;
    height: 120px;
    width: 0px;
    position: absolute;
    top: 100px;
    right: 65px;
    background-color: white;
    text-align: center;
    transition: width 0.5s;
    box-shadow: 0 0 5px black;
}
.schimg img{
    height: 70%;
}
.showq,.showme{
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    width: 0px;
    position: absolute;
    background-color: white;
    transition: width 0.5s;
    box-shadow: 0 0 5px black;
}
.showq{
    top: 200px;
    right: 65px;
}
.showme{
    top: 75px;
    right: 65px;
}
.qdiv:hover .showq,.mediv:hover .showme,.schdiv:hover .schimg{
    display: block;
    width: 110px;
}
.round{
    border-radius: 10px;
}